# ตั้งค่า IP Address (IPv4) ของเครื่องคอมพิวเตอร์ที่รัน Backend API (ห้ามใช้ localhost)
# ตัวอย่าง: EXPO_PUBLIC_API_BASE_URL=http://192.168.1.43:5555
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.43:5555
